<% layout('layout/boilerplate.ejs') %>


    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-6 text-center">
                <h2>Edit Campground</h2>
                <form action="/Allcamps/<%=detail._id%>/edit?_method=PUT" class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control " id="float" placeholder="title" name="Campgrounds[title]" value="<%=detail.title%>" required>
                        <label for="float ">Title</label>
                        <div class="invalid-feedback">
                            Can't be empty
                          </div>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="text" class="form-control" id="location" placeholder="location" name="Campgrounds[location]" value="<%=detail.location%>" required>
                        <label for="floatingPassword">Location</label>
                        <div class="invalid-feedback">
                            Can't be empty
                          </div>
                    </div>
                    <div class="form-floating mb-1">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="Campgrounds[description]" required><%=detail.description%></textarea>
                        <label for="floatingTextarea2">Description</label>
                        <div class="invalid-feedback">
                            Can't be empty
                          </div>
                      </div>
                    <div class="form mb-1 input-group">
                        <div class="input-group-text">Rs</div>
                        <input type="number" class="form-control" id="price" placeholder="price" min="0" name="Campgrounds[price]" value="<%=detail.price%>" required>
                        
                        
                          <div class="invalid-feedback">
                            Enter vaild price
                          </div>
                    </div>
                    <div class="mb-3">
                        
                        <input class="form-control" type="file" id="formFile"  name="image" multiple >
                        <div class="invalid-feedback">
                            add file
                          </div>
                      </div>
                      <div class="mb-3">
                    <%detail.image.forEach((img,i)=>{%>
                       
                            <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="" />
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" value="<%=img.filename%>" id="flexCheckDefault<%=i%>" name="deleteImages[]">
                            </div>
                                <label class="form-check-label" for="flexCheckDefault<%=i%>">Delete</label>
                              
                       
                    <%} )%> 
                </div>

                <div class="mb-3">
                <button class="btn btn-primary">update</button> </div>
                </form>
            
    
            </div>
        </div>
    </div>
    
    